<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
     <header>
         <img src="{% static 'images/HEADER.png' %}" alt="Cyberpunk Image" class="header_image" usemap="#homeLinkMap">
         <a class="active" href="{% url 'card_list_view' %}">
             <canvas id="myCanvas" ></canvas>
         </a>
         {% if request.user.is_authenticated %}
                    <a href="{% url 'authentication:profile_view' %}" class="usernameLink"><h1>Username</h1></a>
                    <a href="{% url 'authentication:logout_user' %}" class="logoutLink"><h1>Log out</h1></a>

                    {% else %}
                    <a href="{% url 'authentication:login_view' %}" class="loginLink"><h1>Log in</h1></a>
                    {% endif %}
         <a href="{% url 'blog:blog_view' %}" class="blogLink"><h1>Blog</h1></a>
     </header>

    <div class="main_body">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <img src="{% static 'images/FOOTER.png' %}" alt="Cyberpunk Image" class="footer_image">
        <ul class="linkList">
          <li><a href="https://www.linkedin.com/in/robert-gustafsson-bba35b1ba/" class="iconLink" id="linkedinLink">
              <h1><img src="{% static 'images/linkedin.svg' %}" class="icons" id="linkedinIcon" width="40" height="40">
              </h1></a>
          </li>

          <li><a href="https://github.com/carrotunderscore" class="iconLink" id="githubLink">
              <h1><img src="{% static 'images/github.svg' %}" class="icons" id="githubIcon" width="40" height="40">
              </h1></a>
          </li>

            <li><a href="https://www.instagram.com/carrotunderscore/" class="iconLink" id="catApiLink">
                <h1><img src="{% static 'images/instagram.svg' %}" class="icons" id="instagramIcon" width="40" height="40">
                </h1></a>
            </li>
        </ul>

    </footer>

</body>
</html>