<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
</head>
{% block content %}
<body>

    <div class="cardList">
        <div class="cardContainer" id="cardContainer">
            {% for catObject in catObjectList %}
            <a href="{% url 'cat_page_view' %}?id_cat={{ catObject.id_cat }}" class="cardLink" id="cardLink">
                <div class="pictureContainer">
                    <img src="/static/images/CARD.png" id="catCard">
                    <img src="{{ catObject.url }}" id="catPicture">
                </div>
                {% if catObject.name != 'null' %}
                    <h4 class="cardName" id="cardName"><p>{{ catObject.name }}</p></h4>
                {% else %}
                    <h4 class="cardName" id="cardName"><p>A cat has no name</p></h4>
                {% endif %}
                <h4 class="cardRating">Rating: {{ catObject.rating }}</h4>
            </a>
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}
</html>
