<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/catPage.css' %}">
    <script src="{% static 'javascript/script.js' %}"></script>

</head>
<body>
    <div class="cardContainer" id="cardContainer">

            <div class="changeNameButtonCard">
                <img src="/static/images/CARD_LOWER_PART.png" id="changeName">
                <button class="button-49" id="button-49" role="button" data-bs-toggle="modal" data-bs-target="#myModal2"
                        >Change name</button>
            </div>

            <div class="cardContainer" id="cardContainer">
                <a href="" class="cardLink" id="cardLink">
                    <div class="pictureContainer">
                        <img src="/static/images/CARD.png" id="catCard">
                        <img src="{{ url }}" id="catPicture">
                    </div>
                    {% if name != 'null' %}
                        <h4 class="cardName" id="cardName"><p>{{ name }}</p></h4>
                    {% else %}
                        <h4 class="cardName" id="cardName"><p>A cat has no name</p></h4>
                    {% endif %}
                    <h4 class="cardRating" id="cardRating">Rating: {{ rating }}</h4>
                    <input type="hidden" id="id_cat" name="id_cat" value="{{ id_cat }}">
                </a>
            </div>

            <div class="changeRatingButtonCard">
                <img src="/static/images/CARD_LOWER_PART.png" id="changeRating">
                 <button class="changeRatingButton" id="changeRatingButton" role="button" data-bs-toggle="modal" data-bs-target="#myModal"
                        onclick="loadRatingButtons()">Rate me!</button>
            </div>

    </div>

    <!--Rating modal-->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

            <div class="ratingDiv">
                  <div class="row">
                    <div class="col-xs-12">
                        <div class="chart-scale">
                            <button class="btn btn-scale btn-scale-desc-1" value="1">1</button>
                            <button class="btn btn-scale btn-scale-desc-2" value="2">2</button>
                            <button class="btn btn-scale btn-scale-desc-3" value="3">3</button>
                            <button class="btn btn-scale btn-scale-desc-4" value="4">4</button>
                            <button class="btn btn-scale btn-scale-desc-5" value="5">5</button>
                            <button class="btn btn-scale btn-scale-desc-6" value="6">6</button>
                            <button class="btn btn-scale btn-scale-desc-7" value="7">7</button>
                            <button class="btn btn-scale btn-scale-desc-8" value="8">8</button>
                            <button class="btn btn-scale btn-scale-desc-9" value="9">9</button>
                            <button class="btn btn-scale btn-scale-desc-10" value="10">10</button>
                      </div>
                    </div>
                  </div>
            </div>

            <div id="rateCatDiv">
                <button type="button" class="btn btn-secondary" id="submitRateButton" onclick="submitRating()">Rate the cat!</button>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>
    </div>

    <!--Change name modal-->
    <div class="modal fade" id="myModal2" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">

          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="myModalLabel">Modal title</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="modal-body">

            <div class="ratingDiv">
                  <div class="row">
                    <div class="col-xs-12">
                        <div class="chart-scale">
                            <div class="form-group">
                                <input type="text" class="form-control" id="changeCatName" placeholder="Change the cats name!">
                              </div>
                      </div>
                    </div>
                  </div>
            </div>

            <div id="rateCatDiv">
                <button type="button" class="btn btn-secondary" id="submitRateButton" onclick="changeName()">Change name</button>
            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
          </div>

        </div>
    </div>
    </div>


</body>
{% endblock %}
</html>
