<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% load markdown_tags %}
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'javascript/blog.js' %}"></script>

</head>
<body>
    {% if request.user.is_authenticated %}
     <div class="header">
      <h2>Admin page</h2>
    </div>
    {% endif %}

    <div class="pageHeader">
        <h1 class="pageTitle">I am a fullstack developer based in Copenhagen.</h1>
        <div class="linkListHeader">

            <h4> /
                <a href="https://www.linkedin.com/in/robert-gustafsson-bba35b1ba/" class="iconLink" id="linkedinLink">LinkedIn</a>
            </h4>

            <h4> /
                <a href="https://github.com/carrotunderscore" class="iconLink" id="githubLink">Github</a>
            </h4>

            <h4> /
                <a href="https://www.instagram.com/carrotunderscore/" class="iconLink" id="instagramLink">Instagram</a>
            </h4>

        </div>
    </div>

    <div class="row">
      <div class="leftcolumn">
        {% for blogPost in blogList %}
          <div class="blogListCard">
              <input type="hidden" id="blogId">
              <a href="{% url 'blog_post_view' blogPost.blogPostId %}"><h4>{{ blogPost.title }}</h4></a>
              <span class="aligned-date">{{ blogPost.published_date }}</span>
          </div>
        {% endfor %}
      </div>

      <div class="rightcolumn">
        {% if request.user.is_authenticated %}
         <div class="card">
              <a class="btn btn-primary" id="createPost" href="{% url 'create_post_view' %}" role="button"><h1>Create post</h1></a>
         </div>
        {% else %}
        <div class="card">
          <h2>About Me</h2>
              <div class="fakeimg" style="height:100px;">Image</div>
          <p>Some text about me in culpa qui officia deserunt mollit anim..</p>
        </div>
        {% endif %}



        {% if request.user.is_authenticated %}
        <div class="card">
              <h3>Unpublished posts</h3>
              <p>post1</p>
              <p>post2</p>
          </div>
        {% else %}
        <div class="card">
            <h3>Popular Post</h3>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div><br>
            <div class="fakeimg">Image</div>
        </div>
        {% endif %}




        {% if request.user.is_authenticated %}
        <div class="card">
              <h3>Posts</h3>
              <div class="fakeimg">Image</div><br>
              <div class="fakeimg">Image</div><br>
              <div class="fakeimg">Image</div>
          </div>
        {% else %}
        <div class="card">
          <h3>Follow Me</h3>
          <p>Some text..</p>
        </div>
        {% endif %}



      </div>
    </div>

</body>
{% endblock %}
</html>
