<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% load markdown_tags %}
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'javascript/blog.js' %}"></script>

</head>
<body>

    <div class="header">
      <h2>Admin page</h2>
    </div>

    <div class="row">
      <div class="leftcolumn">
          <div class="card" >
              <h1>Edit Post</h1>
              <form method="POST" id="editPostForm">
                  {% csrf_token %}
                  {{ form.as_p }}
                  <button type="submit">Save Changes</button>
              </form>

          </div>
      </div>

      <div class="rightcolumn">

          <div class="card">
              <a class="btn btn-primary" id="createPost" onclick="publishBlogPost()" role="button"><h1>Publish post</h1></a>
          </div>



      </div>
    </div>

</body>
{% endblock %}
</html>
