<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% load markdown_tags %}
    {% csrf_token %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'javascript/blog.js' %}"></script>

</head>
<body>
    {% if request.user.is_authenticated %}
     <div class="header">
      <h2>Admin page</h2>
    </div>

    {% endif %}

    <div class="row">
      <div class="leftcolumn">
          <div class="card">
              <input type="hidden" id="blogId">
              <h2>{{ project.title }}</h2>
              <h5>{{ project.published_date }}</h5>
              <img src="{{ project.imageUrl }}">
              {% autoescape off %}
                <p>{% markdown_heading project.content|safe|linebreaks %} </p>
              {% endautoescape %}
              {% if request.user.is_authenticated %}
                <a id="editButton" class="btn btn btn-secondary" href="{% url 'edit_post' project.projectId %}" >Edit post</a>
                <button id="deleteButton" type="button" class="btn btn-outline-danger" onclick="deleteProject({{ project.projectId }})">Delete post</button>
              {% endif %}
          </div>
      </div>

      <div class="rightcolumn">
        {% if request.user.is_authenticated %}
         <div class="card">
              <a class="btn btn-primary" id="createPost" href="{% url 'create_post_view' %}" role="button"><h1>Create post</h1></a>
         </div>
        {% endif %}
      </div>
    </div>

</body>
{% endblock %}
</html>
