<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% load markdown_tags %}
    {% csrf_token %}
    {% load static %}
    <script src="{% static 'javascript/blog.js' %}"></script>

</head>
<body>
    {% if request.user.is_authenticated %}
     <div class="header">
      <h2>Projects (Admin page)</h2>
    </div>
    {% else %}
    <div class="header">
      <h2>Projects</h2>
    </div>
    {% endif %}

    <div class="pageHeader">
        <h1 class="pageTitle">I am a fullstack developer based in Copenhagen.</h1>
        <div class="linkListHeader">

            <h4> /
                <a href="https://www.linkedin.com/in/robert-gustafsson-bba35b1ba/" class="iconLink" id="linkedinLink">LinkedIn</a>
            </h4>

            <h4> /
                <a href="https://github.com/carrotunderscore" class="iconLink" id="githubLink">Github</a>
            </h4>

            <h4> /
                <a href="https://www.instagram.com/carrotunderscore/" class="iconLink" id="instagramLink">Instagram</a>
            </h4>

        </div>
    </div>

    <div class="row">
      <div class="leftcolumn">
        {% for projectPost in projectList %}
          <div class="blogListCard">
              <input type="hidden" id="blogId">
              <a href="{% url 'project_view' projectPost.blogPostId %}">
                  <h4>{{ projectPost.title }}</h4>
                  <img src="{{ projectPost.imageUrl }}">
              </a>
              <span class="aligned-date">{{ projectPost.published_date }}</span>
          </div>
        {% endfor %}

        <div class="rightcolumn">
            {% if request.user.is_authenticated %}
                <div class="card">
                    <a class="btn btn-primary" id="createPost" href="{% url 'create_project_view' %}" role="button"><h1>Create project</h1></a>
                </div>
            {% endif %}
        </div>

      </div>




      </div>
    </div>

</body>
{% endblock %}
</html>
