<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HOME</title>
    {% csrf_token %}
    {% load static %}
    {% load markdown_tags %}
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <script src="{% static 'javascript/blog.js' %}"></script>

</head>
<body>

    <div class="header">
      <h2>Admin page</h2>
    </div>

    <div class="row">
      <div class="leftcolumn">
          <div class="card">
              <h2>Create post</h2>
                  <div class="form-group">
                  <label>Title</label>
                  <textarea class="form-control" id="projectPostTitle" rows="1"></textarea>

                  <label>Image URL</label>
                  <textarea class="form-control" id="projectPostImageUrl" rows="1"></textarea>

                  <label>Github URL</label>
                  <textarea class="form-control" id="projectPostGithub" rows="1"></textarea>

                  <label>Content</label>
                  <textarea class="form-control" id="projectPostTextbox" rows="23"></textarea>
              </div>

          </div>
      </div>

      <div class="rightcolumn">

          <div class="card">
              <a class="btn btn-primary" id="createPost" onclick="publishProject()" role="button"><h1>Publish post</h1></a>
          </div>

      </div>
    </div>

</body>
{% endblock %}
</html>
