* {
  box-sizing: border-box;
}

body {
    font-family: 'America-Expanded-Bold';
    overflow-x: hidden;
}
@font-face {
  font-family: 'America-Expanded-Bold';
  src: url('{% static "fonts/GT-America/GT-America-Expanded-Bold-Trial.otf" %}') format('opentype');
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}
.card {
   background-color: white;
   border-width: 0;
   padding: 20px;
   margin-top: 20px;
}
.leftcolumn {
  float: left;
  position: relative;
  left: 25%;
  width: 45%;
  margin-bottom: 1%;
  background-color: white;
  border-bottom: 1px solid #cccccc;
}
.leftcolumn img{
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}
#contentText{
    font-size: 100%;
    background-color: white;
}
form p {
    margin: 0;
    padding: 0;
    display: inline;
}
#editButton{
    width: 20%;
    margin-bottom: 1%;
}
#deleteButton{
    width: 20%;

}
br {
    margin-bottom: 1px;
    background-color:green;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
@font-face {
  font-family: 'GT America';
  src: url("{% static 'fonts/GT-America-Regular.ttf' %}') format('truetype"),
       url("{% static 'fonts/GT-America-Bold.ttf' %}') format('truetype"),
}
.blogListCard{
    padding-top: 5%;
    padding-bottom: 5%;
    border-top: 1px solid #cccccc;
}
.aligned-date {

  display: inline-block;
}

.pageHeader{
    position: relative;
    left: 25%;
    width: 50%;
    padding: 10px;
}
.pageTitle{
    font-size: 450%;

}

.linkList{
    display: flex;
    flex-direction: row;
    list-style: none;
    white-space: nowrap;
    justify-content: space-around;
}
.linkListHeader{
    display: flex;
    flex-direction: row;
    list-style: none;
    white-space: nowrap;
    align-content: left;
}
.linkListHeader a{
    color: #f32441;
    position: relative;
    left: 1%;
}
.linkListHeader h4{
    padding-right: 1%;

}
.linkListHeader b{
    font-weight: bold;

}
#githubIcon{
    filter: contrast(0);
}
.cardLink:hover + .pictureContainer {
  filter: drop-shadow(5px 5px 1px #FDF277);
}
.pictureContainer:hover {
    filter: drop-shadow(5px 5px 1px #FDF277);
}
#linkedinIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}
#githubIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}

#instagramIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}
header{
    position: relative;
    font-family: 'GT America Black';
}
.flexDiv{
    position: absolute;
    top: 20%;
    right: 2%;
}
.linkDiv{
    display: flex;
    justify-content: right;
    text-wrap: nowrap;
}
.header_image {
    border-radius: 50%;
    width: 4%;
    margin: 0.5%;
    margin-left: 2%;
}
a{
    padding-top: 2%;
    padding-right: 5%;
    color: black;
    text-decoration: none;
}
a:hover{
    color: #f32441;
}
@font-face {
  font-family: 'GT America Black';
  src: url('{% static "fonts/GT-America/GT-America-Expanded-Bold-Trial.otf" %}') format('opentype');
}
.header_image:hover{
    border: 34px solid #f32441;
    transition-duration: 0.5s;
    transition-property: border;
}
.rightcolumn {
    position: relative;
    padding-bottom: 2.5rem;
    top: 0;
}
.row{
    zoom: 1.5;
    padding-bottom: 2.5rem;
    position: relative;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}




