.cardLink:hover + .pictureContainer {
  filter: drop-shadow(5px 5px 1px #FDF277);
}
.pictureContainer:hover {
    filter: drop-shadow(5px 5px 1px #FDF277);
}
#linkedinIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}
#githubIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}

#instagramIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
}
header{
    position: relative;
    font-family: 'GT America Black';
}
.flexDiv{
    position: absolute;
    top: 20%;
    right: 2%;
}
.linkDiv{
    display: flex;
    justify-content: right;
    text-wrap: nowrap;
}
.header_image {
    border-radius: 50%;
    width: 4%;
    margin: 0.5%;
    margin-left: 2%;
}
a{
    padding-top: 2%;
    padding-right: 5%;
    color: black;
    text-decoration: none;
}
a:hover{
    color: #f32441;
}
@font-face {
  font-family: 'GT America Black';
  src: url('{% static "fonts/GT-America/GT-America-Expanded-Bold-Trial.otf" %}') format('opentype');
}
.header_image:hover{
    border: 34px solid #f32441;
    transition-duration: 0.5s;
    transition-property: border;
}



