.header_image{
    z-index: 0;
    width: 100%;
    margin: auto;
    display: block;
}
a{
    text-decoration: none;
}
html {
  height: 100%;
}

body{
    background-image: url("/static/images/BACKGROUND.png");
    background-color: #000000;
    background-size: contain;
    background-position: center;
    zoom: 70%;

    min-height: 100%;
    margin: 0;
  padding: 0;

}
.cardContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.cardList{
    padding-right: 1%;
    padding-left: 2.5%;

}
.catCard{
    position: relative;
    z-index: 1;
    transform: scale(0.7);
}
.pictureContainer{
    position: relative;
    left: 0px;
    filter: drop-shadow(5px 5px 1px #9a498c );
}
.pictureContainer:hover {
    filter: drop-shadow(5px 5px 1px #FDF277);
}
#catPicture{
    height: 180px;
    width: 250px;
    position: absolute;
    z-index: 3;
    left: 55px;
    top: 25px;
    border-radius: 25px;
}
.cardName{
    z-index: 3;
    position: absolute;
    left: 100px;
    top: 290px;
    color: #FDF277;
    font-family: 'Bebas Neue', sans-serif;

}
.cardRating{
    z-index: 3;
    position: absolute;
    left: 100px;
    top: 330px;
    color: #FDF277;
    font-family: 'Bebas Neue', sans-serif;
}
.cardLink{
    padding-bottom: 30px;
    position: relative;
}
.cardLink:hover + .pictureContainer {
  filter: drop-shadow(5px 5px 1px #FDF277);
}

#myCanvas{
    position: absolute;
    left: 43.4%;
    top: 4.5%;
    width: 13.2%;
    height: 18%;

}
#myCanvas:hover{
    filter: blur(1px);
    border:2px solid #BA103F;
    border-radius: 10px;
}
.loginLink{
    position:absolute;
    top: 11.3%;
    left: 58.5%;
    font-family: 'Bebas Neue', sans-serif;
    color: #F6F723;
    -webkit-text-stroke:1px #4F2777

}
.logoutLink{
    position:absolute;
    top: 11.3%;
    left: 92%;
    font-family: 'Bebas Neue', sans-serif;
    color: #F6F723;
    -webkit-text-stroke:1px #4F2777
}
.usernameLink{
    position:absolute;
    top: 11.3%;
    left: 58.5%;
    font-family: 'Bebas Neue', sans-serif;
    color: #F6F723;
    -webkit-text-stroke:1px #4F2777

}
.blogLink{
    position:absolute;
    top: 11.3%;
    left: 36.5%;
    font-family: 'Bebas Neue', sans-serif;
    color: #F6F723;
    -webkit-text-stroke:1px #4F2777

}
.linkList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    bottom: 29%;
    left: 42%;
    list-style: none;
    padding: 0;
    margin: 0;
}
.linkList li {
    margin-right: 100%;
}
footer{
    position:absolute;
}
.footer_image{
    width: 100%;
    margin: auto;
    display: block;
}
.iconLink{
    font-family: 'Bebas Neue', sans-serif;
    color: #BA103F;
    -webkit-text-stroke:1px #F6F723
}

#linkedinIcon:hover{
    filter: contrast(20%);
    transform: scale(1.2);
    transition: transform .5s ease;
}
#githubIcon:hover{
    filter: contrast(20%);
    transform: scale(1.2);
    transition: transform .5s ease;
}

#instagramIcon:hover{
    transform: scale(1.2);
    transition: transform .5s ease;
    filter: contrast(20%);
}









