<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>


     <header>
        <a href="{% url 'blog_view' %}" class="blogLink">
            <img src="{% static 'images/profile_cat.jpg' %}" class="header_image" usemap="#homeLinkMap">
        </a>

        <div class="flexDiv">
             <div class="linkDiv" id="linkDiv">

                 <a href="{% url 'blog_view' %}" class="blogLink"><h5><b>Blog</b></h5></a>
                 <a href="{% url 'blog_view' %}" class="blogLink"><h5><b>Projects</b></h5></a>
                 {% if request.user.is_authenticated %}
                    <a href="{% url 'authentication:profile_view' %}" class="usernameLink"><h5><b>Username</b></h5></a>
                    <a href="{% url 'authentication:logout_user' %}" class="logoutLink"><h5><b>Log out</b></h5></a>
                 {% else %}
                    <a href="{% url 'authentication:login_view' %}" class="loginLink"><h5><b>Log in</b></h5></a>
                    {% endif %}

             </div>
         </div>
     </header>

    <div class="main_body">
        <main>
            {% block content %}
            {% endblock %}
        </main>
    </div>

    <footer>
        <ul class="linkList">
          <li><a href="https://www.linkedin.com/in/robert-gustafsson-bba35b1ba/" class="iconLink" id="linkedinLink">
              <h1><img src="{% static 'images/linkedin.svg' %}" class="icons" id="linkedinIcon" width="40" height="40">
              </h1></a>
          </li>

          <li><a href="https://github.com/carrotunderscore" class="iconLink" id="githubLink">
              <h1><img src="{% static 'images/github.svg' %}" class="icons" id="githubIcon" width="40" height="40">
              </h1></a>
          </li>

            <li><a href="https://www.instagram.com/carrotunderscore/" class="iconLink" id="catApiLink">
                <h1><img src="{% static 'images/instagram.svg' %}" class="icons" id="instagramIcon" width="40" height="40">
                </h1></a>
            </li>
        </ul>

    </footer>

</body>
</html>